.html5-video {
  position: relative;
  overflow: auto;
  display: inline-block;
  margin: 0;
}

.html5-video-overlay {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: none;
  overflow: hidden;
  pointer-events:none;
  width: 100%;
  height: 100%;
}
