<h2>fin</h2>

<p>This concludes the tour of ng-media, for the time being. More demonstrations should be
  available as more functionality is added to the module!</p>

<p>Though the list of features is not at all exhaustive at this time, it is hoped that this can be
  cleanly expanded on. Here are some of the things we'd like to support:</p>

  <ul>
    <li>Playlists</li>
    <li>Improved preloading support</li>
    <li>Audio tag support</li>
    <li>WebAudio support</li>
    <li>WebRTC support</li>
    <li>Support for media supplied by browser plugins</li>
    <li>Better API documentation</li>
  </ul>

<p>I hope you find this interesting and useful, and I look forward to hearing your comments.</p>