<h2>ng-media</h2>

<p>The ng-media library's goal is to make life easier when working with media content in Angular apps
  on the web. The module is offered entirely under the MIT license, free to use by any individual or
  organization who finds a use for it. In the off-chance that you do NOT find a use for it,
  despite having a need for media in an <a href="http://angularjs.org/" title="AngularJS">AngularJS</a> environment, please let me know what you feel
  it's lacking on the <a href="https://github.com/caitp/ng-media/issues" title="issue tracker">issue tracker</a>.</p>

<p>This is perhaps a fairly ambitious project, as multimedia is finding a place on the web more and
  more frequently. This module attempts to simplify certain aspects of media integration, from within
  the AngularJS ecosystem.</p>

<p>Things we'd like to accomplish include support for all of the various HTML5 media APIs, including
  WebRTC, WebAudio, beyond just the HTML5 media elements. It's also desirable to add features to
  these media elements which are not strictly speaking present or defined in the spec.</p>

<p>Rather than bore you with a pointless manifesto, lets show off some basic functionality and get
  a look at things. There isn't much to see yet, but I promise this will be improved over time.</p>

<p>You can navigate this website using the mousewheel, using your keyboard up/down keys, or by
  simply clicking the links on the righthand side of the screen.</p>